{% extends 'base.html.twig' %}

{% block title %}Dashboard Bovino{% endblock %}

{% block body %}       
    <h1>Lista de Bovinos</h1>
    <a class="btn" href="{{ path('app_cow_new') }}">Adicionar Novo Bovino</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Quantidade de leite (litros)</th>
                <th>Quantidade de ração (Kg)</th>
                <th>Peso (Kg)</th>
                <th>Nascimento</th>
                <th>Status</th>
                <th>Fazenda</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
        {% for cow in cows %}
            <tr>
                <td>{{ cow.id }}</td>
                <td>{{ cow.codigo }}</td>
                <td>{{ cow.qtLeite|number_format(2, ',', '.') }}</td>
                <td>{{ cow.qtRacao|number_format(2, ',', '.') }}</td>
                <td>{{ cow.peso|number_format(2, ',', '.') }}</td>
                <td>{{ cow.nascimento ? cow.nascimento|date('d-m-Y') : '' }}</td>
                <td>{{ cow.status ? 'Vivo' : 'Abatido' }}</td>
                <td>{{ cow.fazenda}}</td>
                <td>
                    <a class="btn" href="{{ path('app_cow_show', {'id': cow.id}) }}">Visualizar</a>
                    <a class="btn" href="{{ path('app_cow_edit', {'id': cow.id}) }}">Editar</a>
                </td>
            </tr>
    
        {% else %}
            <tr>
                <td colspan="7">Nenhum registro encontrado.</td>
            </tr>
        {% endfor %}          
        </tbody>
    </table>
    {# Renderizar a paginação usando o KnpPaginatorBundle #}
    <div class="pagination">
        {{ knp_pagination_render(cows) }}
    </div>
   
{% endblock %}
