{% extends 'base.html.twig' %}

{% block title %}Lista de Animais para Abate{% endblock %}

{% block body %}
    <h1>Lista de Animais para Abate</h1>

    {% if relatorioAbate is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Leite (litros)</th>
                    <th>Ração (kg)</th>
                    <th>Peso (kg)</th>
                    <th>Nascimento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for cow in relatorioAbate %}
                    <tr>
                        <td>{{ cow.codigo }}</td>
                        <td>{{ cow.qtLeite }}</td>
                        <td>{{ cow.qtRacao }}</td>
                        <td>{{ cow.peso }}</td>
                        <td>{{ cow.nascimento|date('Y-m-d') }}</td>
                        <td>
                            <form method="post" action="{{ path('app_enviar_abate', {'codigo': cow.codigo}) }}">
                                <button type="submit">Enviar para Abate</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há animais elegíveis para abate no momento.</p>
    {% endif %}
{% endblock %}
