{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Relatório de Quantidade Total de Leite</h5>
            <p>Total de Leite: {{ relatorioLeite.totalLeite|number_format(2, ',', '.') }} litros</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Relatório de Quantidade Total de Ração</h5>
            <p>Total de Ração: {{ relatorioRacao.totalRacao|number_format(2, ',', '.') }} kg</p>
        </div>
    </div>

     <div class="card">
        <div class="card-body">
            <h5 class="card-title">Relatório de Jovens Consumindo Mais Ração</h5>
            {% for cow in relatorioJovens %}
                <p> Codigo: {{ cow.codigo }} - Fazenda: {{ cow.fazenda }} - Ração consumida: {{ cow.getQtRacao()|number_format(2, ',', '.') }} kg</p>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}
