{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Salvar') }}</button>
    <a class="btn btn-secondary" href="{{ path('app_farm_index') }}">Voltar a lista</a>
{{ form_end(form) }}
