{% extends 'base.html.twig' %}

{% block title %}Visualizar Fazenda{% endblock %}

{% block body %}
    <div class="container">
        <h1>Fazenda</h1>

        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ farm.id }}</td>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ farm.nome }}</td>
                </tr>
                <tr>
                    <th>Tamanho</th>
                    <td>{{ farm.tamanho|number_format(2, ',', '.') }} ha</td>
                </tr>
                <tr>
                    <th>Responsavel</th>
                    <td>{{ farm.responsavel }}</td>
                </tr>
                <tr>
                    <th>Veterinarios</th>
                    {% for veterinario in farm.veterinarios %} 
                        <tr>
                            <th></th>
                            <td>{{ veterinario.nome }}</td>
                        <tr>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {{ include('farm/_delete_form.html.twig') }}
    </div>
{% endblock %}
